# Работа с файлами и системными операциями
os-sys
zipfile36
shutil
subprocess

# Обработка видео и аудио
moviepy==1.0.3
librosa==0.8.1
pysptk==0.1.18
opencv-python==4.5.3.56  # для cv2
mediapipe==0.8.9.1

# Работа с данными
pandas==1.3.3
numpy==1.21.2
matplotlib==3.4.3
seaborn==0.11.2
tqdm==4.62.3
collections-extended

# Обработка текста
nltk==3.6.3
scikit-learn==0.24.2

# Работа с нейронными сетями
tensorflow==2.6.0
keras==2.6.0

# Визуализация
matplotlib==3.4.3
seaborn==0.11.2

# Веб-интерфейс (Dash)
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-bootstrap-components==1.0.0
